body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #8e2de2, #4a00e0, #00b3e0);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

input[type="range"] {
    width: 100%;
    margin-bottom: 15px;
    background: #ccc; 
    border-radius: 10px;
}

.rating-labels {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: #555;
}

.rating-text {
    display: none;
}

.rating-text.show {
    display: block;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.input-error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

form label {
    color: #333; /* Warna teks label */
}

button[type="button"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; /* Jarak antara tombol submit dan pesan kesalahan */
}

button[type="button"]:hover {
    background-color: #45a049;
}

/* Animasi perubahan warna border input */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
    border-color: #4CAF50;
    transition: border-color 0.3s ease;
}